
ClickerIdleGame/Library/Artifacts/*
ClickerIdleGame/Library/*
ClickerIdleGame/Temp/*
ClickerIdleGame/Assets/TextMesh Pro/*
ClickerIdleGame/Assets/TextMesh Pro
ClickerIdleGame/Assets/TextMesh Pro.meta